/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Berkshire+Swash&display=swap');

/*Added scrollbars*/
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

/* Global Variables */
:root {
    --primary-font: "ABeeZee", sans-serif;
    --secondary-font: "Berkshire Swash", cursive;
    --primary-color: #8773acb9;
    --secondary-color: #c133cba7;
    --thrid-color: #db8cb4;
    --primary-font-color: black;
}

/* Main Font */
body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-size: 16px;
    line-height: 24px;
}

/* Heading styling */
header {
    padding: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

/* Content Headings */
.headings {
    font-family: var(--secondary-font);
    font-weight: 400 !important;
}

.headings1 {
    font-family: var(--secondary-font);
    font-weight: 400 !important;
}

/* Navbar Logo */
.logo {
    height: 80px;
    width: 80px;
}

/* Navbar Styling */
.navbar {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    background-color: var(--thrid-color);
    z-index: 100;
    --bs-navbar-hover-color: var(--secondary-color);
    --bs-navbar-active-color: var(--secondary-color);
}

/* Navbar centered in drop down on smaller devices */
.navbar-nav {
    padding-left: 40px;
}

/* Margin between navbar links */
.nav-item {
    margin-right: 35px;
}

/* Navbar Toggler Background/border */
.navbar-toggler,
.navbar-toggler:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
    padding-right: 15px;
    font-size: 18px;
    color: black;
}

/* Navbar collapsable menu text */
.nav-item {
    text-align: center;
}

/* Gallery Styles */
.card-body {
    text-align: center;
}

.card-img-top {
    max-height: 250px;
    overflow: hidden;
}

.card-title a:link {
    font-size: 30px;
    background-color: transparent;
    color: #000000;
    text-decoration: none;
}

.card-title a:hover {
    background-color: transparent;
    text-decoration: underline;
}

/* Carousel */
.carousel-inner img {
    position: relative;
    align-items: center;
    max-height: 1150px;
    width: 100vw;
    height: auto;
}

/* Services */
.container-fluid {
    padding: 0;
}

.services-wrapper {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.ours-heading-wrapper {
    width: 100%;

    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

h1.service-heading {
    margin: 0px;
    font-size: 35px;
    color: white;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.service-box {

    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.service-box:hover .service-icon {
    background-color: transparent;
}

.service-box>h2 {
    color: white;
    font-size: 24px;
    margin: 5px;
    padding: 15px 0px;
}

.service-box>p {
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
}

.service-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 99px;
    background-color: var(--secondary-color);
    border-radius: 100px;
    border: 4px double var(--thrid-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.service-icon i {
    font-size: 45px;
    color: var(--primary-font-color);
    margin-top: 23px;
}

.service-box:hover .service-icon i {
    -webkit-animation: spin 4s linear 0s infinite normal;
    -moz-animation: spin 4s linear 0s infinite normal;
    -ms-animation: spin 4s linear 0s infinite normal;
    -o-animation: spin 4s linear 0s infinite normal;
    animation: spin 4s linear 0s infinite normal;
}

/* Gallery */
div>.item {
    padding: 5px;
    object-fit: cover;
    object-position: 25% 25%;
}

/* Keyframe section for Spin animation */
@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(360deg);
    }

    100% {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(360deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(360deg);
    }

    100% {
        -o-transform: rotate(0deg);
    }
}

/* Custom button styles */
.custom-button {
    border: 2px solid var(--highlight-color);
    background-color: var(--thrid-color);
    color: var(--primary-font);
}

.custom-button:hover {
    border: 2px solid var(--highlight-color);
    background-color: var(--secondary-color);
    color: var(--primary-font);
}

/* Footer Layout */
footer {
    padding: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0 -2px 2px #3a3a3a;
    background-color: var(--thrid-color);
}

/* Social icons */
.socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: var(--secondary-color);
    border: 4px double var(--thrid-color);
    border-radius: 50%;
    color: var(--thrid-color);
    margin-right: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-links a:hover {
    background: black;
    transform: translateY(-3px);
}

.social-links i:hover {
    color: var(--secondary-color);
}

a {
    color: black;
}

/* Opening times table */
.table {
    --bs-table-bg: var(--thrid-color);
    --bs-table-color: var(--primary-font-color);
    border: 0;
}

/* fix for lightbox gallery */
.ratio:before {
    padding: 5px;
}

/* Media queries */

/* Small screens and upto 576px */
@media screen and (max-width: 576px) {
    .nav-link {
        font-size: 25px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* Make all service cards the same height for consistency */
    .nav-link {
        font-size: 28px;
        line-height: 32px;
    }

    .card-body {
        min-height: 430px;
    }

    .socials{
        padding-left: 45px;
    }
}

/* Medium devices (laptops, 1024px and up) */
@media screen and (min-width: 1024px) {

    /* Make all service cards the same height for consistency */
    .carousel-inner img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .card-body {
        min-height: 485px;
    }
}


/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

    /* make all service cards the same height for consistency */
    .carousel-inner img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .card-body {
        min-height: 0px;
    }
    
    .socials{
        padding-left: 380px;
    }
}