/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Berkshire+Swash&display=swap');

/*Added scrollbars*/
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
/* Global Variables */
:root {
    --primary-font: "ABeeZee", sans-serif;
    --secondary-font: "Berkshire Swash", cursive;
    --primary-color: #B09AD9;
    --secondary-color: #ae3eb6;
    --thrid-color: #F195C3;
    --primary-font-color: black;
}

/* Main Font */
body {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-size: 16px;
    line-height: 24px;
}

/* Content Headings */
.headings {
    font-family: var(--secondary-font);
    font-weight: 400 !important;
}

.headings1 {
    font-family: var(--secondary-font);
    font-weight: 400 !important;
}
/* Navbar Logo */
.logo{
    height: 80px;
    width: 80px;
}
/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    background-color: var(--thrid-color);
    z-index: 100;
    --bs-navbar-hover-color: var(--secondary-color);
    --bs-navbar-active-color: var(--secondary-color);
}

/* Navbar Toggler Background/border */
.navbar-toggler,
.navbar-toggler:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
    padding-right: 15px;
    font-size: 18px;
    color: black;
}

/* Navbar collapsable menu text */
.nav-item {
    text-align: center;
}
/* About Us Styling */
.about-us{
    padding-top: 90px;
}
 /* Gallery Styles */
 .card-body{
    text-align: center;
 }
.card-img-top {
    max-height: 250px;
    overflow: hidden;
}

.card-title a:link {
    font-size: 30px;
    background-color: transparent;
    color: #000000;
    text-decoration: none;
}

.card-title a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
/* Carousel */
.carousel{
    padding-top: 50px;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
    background-color: black;
    top: 50%;
    padding-left: 5px;
    width: 60px;
    height: 60px;
    opacity: 0.5;
    border-radius: 50%;
}
/* Services */
.container-fluid{
    padding: 0;
}
.services-wrapper {
    width: 100%;
    background-size:cover;
    background-attachment: fixed;
    background-position:center;
    position: relative;
}

.ours-heading-wrapper {
    width: 100%;

    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

h1.service-heading {
    margin: 0px;
    font-size: 35px;
    color: white;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.service-box {

    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.service-box:hover .service-icon {
    background-color: transparent;
}

.service-box > h2{
    color: white;
    font-size: 24px;
    margin: 5px;
    padding: 15px 0px;
}

.service-box > p{
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
}

.service-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 99px;
    background-color: var(--thrid-color);
    border-radius: 100px;
    border: 4px double var(--thrid-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.service-icon i {
    font-size: 45px;
    color: var(--primary-font-color);
    margin-top: 23px;
}

.service-box:hover .service-icon i {
    -webkit-animation: spin 4s linear 0s infinite normal;
    -moz-animation: spin 4s linear 0s infinite normal;
    -ms-animation: spin 4s linear 0s infinite normal;
    -o-animation: spin 4s linear 0s infinite normal;
    animation: spin 4s linear 0s infinite normal;
}
/* Keyframe section for Spin animation */
@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(360deg);
    }

    100% {
        -ms-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(360deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(360deg);
    }

    100% {
        -o-transform: rotate(0deg);
    }
}

/* Footer Layout */
footer{
    left: 0;
    bottom: 0;
    width: 100%;
}
#contact {
    background-color: var(--thrid-color);
}

/* Social icons */
#contact .social-links i {
    color: var(--primary-font-color);
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    margin-right: 15px;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

/* Opening times table */
.table {
    --bs-table-bg: var(--thrid-color);
    --bs-table-color: var(--primary-font-color);
    border: 0;
}